<% provide(:title, "Your Profile") %>

<div class="friend-list">
<%user = current_user%>

  <h2>Friends</h2>
    <ol>
    <%current_user.friends.each do |friend| %>
      <li><%= link_to friend.username, friend_profile_path( user_id:friend.id), method: :post%></li>
    <%end %>
    </ol>     
</div>

<div class="reveiw-container">
  <div class="container">
    <div class="jumbotron">
      <h1>Reviews</h1>
      <h2> Here is what you reviewed!</h2>
    </div>
    <div class="jumbotron">
      <% if @reviews %>
        <% @reviews.each do |review|%>
          <% if review.cover.attached? %>
            <%= image_tag (url_for review.cover.variant(resize_to_limit: [150, 100]).processed) %>
          <% end %> <!-- add clause for default image, add place to upload pfps -->
          <ol> 
            <li>
              <p>
                <% if review.recommended %>
                  <span style="color:green;"> Recommends </span>
                <% else %>
                  <span style="color:red;"> Doesn't recommend </span>
                <% end %>
                <b><%= review.media %></b>
              </p>
            </li>
            <% if review.tags.length > 0 %>
              <div class="row">
                <% review.tags.each do |tag| %>
                  <div class="d-inline-flex flex-row">
                    <div class="p-2 bd-highlight"><%= tag.category %> </div>
                    <div class="p-2 bd-highlight"><%= tag.name %> </div>
                  </div>
                <% end %>
              </div>
            <% end %>
            <br>
            <%= simple_form_for @tag,
                                html: { class: "form-inline" },
                                url: "/add_tag/#{review.id}" do |form| %>
              <div class="row">
                <div class="p-2 bd-highlight">
                  <%= form.input :category,
                                 placeholder: 'category',
                                 label: false %>
                </div>
                <div class="p-2 bd-highlight">
                  <%= form.input :name,
                                 placeholder: 'name',
                                label: false %>
                </div>
                <div class="p-2 bd-highlight">
                  <%= form.button :submit %>
                </div>
              </div>
            <% end %>
            <p>
              <%= review.content %>
            </p>
          </ol>
        <%end%>
      <%end%>
    </div>
  </div>
</div>