<% provide(:title, "Your Profile") %>
<div class="container basic-content mobile-padding-adjusted">
  <div class="row mobile-padding-adjusted">
    <div class="container  ">
      <div class="text-center">
        <h1 class=" pd-2 custom-title">Your Profile</h1>
      </div>
      <div class="row  justify-content-between">
        <div class="col-md-auto  ">
          <div id="img">
            <% if current_user.avatar.attached? %>
              <%= image_tag (url_for current_user.avatar.variant(resize_to_limit: [225, 225]).processed) %>
            <% end %> 
          </div>
          <div id="selector">
            <%= form_for "avatar", url: "/upload_avatar", method: :post, remote: true do |f| %>
              <%= f.file_field :avatar %>
              <%= f.submit "Change avatar", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <div class="col-md-3 mr-4 basic-content-card">
          <h2>Friends</h2>
          <% if @current_user.friends.empty? %>
            <h3 style="color: red;">No friends!</h3>
            <% else %>
          <ol>
            <% current_user.friends.each do |friend| %>
              <li><%= link_to friend.username, friend_profile_path( user_id:friend.id), method: :post%></li>
            <%end %>
          </ol>    
          <% end %>
        </div>
        <div class="container mt-4">
          <h3>
            <%= link_to create_review_path, { remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-1' } do %>
              <%= render 'shared/post-review-button' %>
            <% end %>
          </h3>
          <div id="modal-window-1" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <%=render 'reviews/new'%>
              </div>
            </div>
          </div>    
        </div>    
      </div>
      <div class="container home-content-reviews mt-3 mobile-padding-adjusted">
        <div class="row justify-content-center pt-2 ">
          <h2> Here is what you reviewed.</h2>
        </div>
        <%= render 'your_reviews' %>
      </div>
    </div>
  </div>
</div>
