<% provide(:title, "Home") %>

<%# to avoid duplicate reviews from the same friend_id, friend_id's are turned into a set  %>
<div class="friend-list">
  <h2><%= link_to "->  Create Event", create_event_path %></h2>
  <h2><%= link_to "|^| Post Review", create_review_path %></h2>
</div>

<div class="reveiw-container">
  <div class="container">
    <div class="jumbotron">
      <h1>Reviews</h1>
      <h2> Here is what your friends reviewed!</h2>
    </div>
    <div>
      <%@reviews.each do |review| %>
        <div class="jumbotron">
          <h3>
          <%= link_to review.user.username, friend_profile_path( user_id:review.user.id), method: :post%>
           <% if review.recommended %>
              <span style="color:green;"> recommends </span>
            <% else %>
              <span style="color:red;"> doesn't recommend </span>
            <% end %>
            <%= review.media %>
          </h3>
          <p> <%= review.content %> </p>
          <span style = "background-color:white;"> <%= review.post_date.to_date %> </span>
        </div>
      <%end%>
    </div>
  </div>
</div>
