<footer class="footer">
  <small>
    This is the footer
    for the <%= link_to "We-View App", root_path  %> 
  </small>
  <nav>
    <% if logged_in? %>
    <ul>
      <li><%= link_to "Home",   home_path %></li>
      <li><%= link_to "Friendship", friendship_path  %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Profile", profile_path  %></li>
      <li><%= link_to "Log-out", logout_path, method: :delete %></li>
    </ul>
    <%else%>
<ul>
        <li ><%= link_to "Sign-up",  signup_path %></li>
        <li ><%= link_to "Log-in",  login_path %></li>
        </ul>
    <%end%>
  </nav>
</footer>