<header>
  <script>
  function openNav() {
    document.getElementById("left-sidebar").style.width = "250px";
  }

  /* Set the width of the side navigation to 0 */
  function closeNav() {
    document.getElementById("left-sidebar").style.width = "0";
  }
  </script>
  <% if logged_in? %>
    <div id="left-sidebar" class="sidenav closebtn" onmouseleave="closeNav()">
      <%# <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> %>
      <%= link_to "Home", home_path  %>
      <%= link_to "Friendship", friendship_path  %>
      <%= link_to "Events", events_path %>
      <%= link_to "Profile", profile_path  %>
      <%= link_to "Log-out", logout_path, method: :delete %>
    </div>
    <% user = current_user%>
    <div class="logged-in-nav">
      <%# &#8203; %>
      <div class="inner-logged-in-nav">

        <div class="user-head-text">
          <%# <h1 ><a href=/home style= "color: black; text-decoration: underline;"><%= user.username%>'s We-View</a></h1> %>
        </div>
        <div class="menu-box" onmouseover="openNav()">
          <br> Menu <br> <br> 
        </div>
      </div>
    </div> 
  <%else%>


    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <%= link_to "We-View", root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Sign-up",  signup_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log-in",  login_path, class: "nav-link"  %>
        </li>

      </ul>
    </div>
  </div>
</nav>

  <%end%>
</header>
