<div>
<% if @reviews.empty? %>
  <h3 style="color: red;">None. Try something else!</h3>
<% else %>
  <%@reviews.each do |review| %>
    <div class="container pb-2">
      <div class="row basic-content-card mt-3">
        <div class="col-auto ">
          <% if review.cover.attached? %>
            <%= image_tag (url_for review.cover.variant(resize_to_limit: [225, 150]).processed) %>
          <% end %>
        </div>
        <div class="col">
          <%= link_to review.user.username, friend_profile_path( user_id:review.user.id), method: :post%>
          <% if review.recommended %>
            <span style="color:green;"> recommends </span>
            <% else %>
              <span style="color:red;"> doesn't recommend </span>
            <% end %>
          <%= review.media %> 
          <% if review.tags.length > 0 %>
            <div class="row">
              <% review.tags.each do |tag| %>
                <div class="d-inline-flex flex-row">
                  <div class="p-2 "><%= tag.category %>: </div>
                  <div class="p-2 bd-highlight"><%= tag.name %> </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <p>
            <%= review.content %>
          </p>
          <span style = "background-color:white;"> <%= review.post_date.to_date %> </span>
        </div>
      </div>
    </div>
  <%end%>
  <% end %>
</div>