<% user_1 = @users.all.sample %>
<% friend_id_array = []  %> <%# for user_1 %>

<%# to avoid duplicate reviews from the same friend_id, friend_id's are turned into a set  %>
<%@friends.where(user_id: user_1.id).each do |friend| %>
  <%  friend_id_array << friend.friend_id  %>
<%end %>
<% friend_id_array = friend_id_array.uniq %>



<h1><%= user_1.username %>'s We-View</h1>


<h2>Friends</h2>
  <%friend_id_array.each do |friend| %>
  <p><%= @users.where(id: friend).first.username %></p>
<%end %>

<h2>Reviews</h2>
<%friend_id_array.each do |friend| %>
  <h3><%= @users.where(id: friend).first.username %></h3>
  <% @reviews.where(user_id: friend).each do |friend_who_reviewed| %>
    <u><b><p><%= friend_who_reviewed.media %>:</p></b></u>
    <p><%= friend_who_reviewed.content %></p>
  <%end%>
<%end %>
