<% provide(:title, "Create Event") %>
<h1>Create Event</h1>
<p>This will be a create-event page</p>

<div class="row">
  <div class="col-md-6">
    <%= form_with(model: @event, local: true) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %> 

      <%= f.label :scheduled_time %>
      <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        <%= f.text_field :scheduled_time, class: 'form-control datetimepicker-input', 'data-target': "#datetimepicker1" %>
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
          <div class="input-group-text"><i class='fa fa-calendar'></i></div>
        </div>
      </div>

        <%= f.label :duration, " Duration in HH/MM" %>
        <%=  f.time_select :duration,  {ignore_date: true, prompt: { hour: 'Choose hour', minute: 'Choose minute' }},{class: "form-control"} %>

      <%= f.label :attendees %>
       <%= select_tag :attendees, 
        options_for_select(current_user.friends.map{ |friend| [friend.username, 
                                                               friend.id] }, 
                           current_user.friends.pluck(:id)), 
        multiple: true, size: 10 %>
      <%= f.submit "Create Event", class: "btn" %>
    <% end %>
  </div>
</div>
© 2021 GitHub, Inc.