<% provide(:title, 'Create Review') %>
<h1>Create a review!</h1>

<script>
  function addTag() {
    btn = document.getElementById("tag-btn");
    num = parseInt(btn.value);

    content = `
      <label for="review_tag_category">Tag category</label>
      <input type="text" name="review[tag_#_category]"
        id="review_tag_#_category">
      <label for="review_tag_name">Tag name</label>
      <input type="text" name="review[tag_#_name]"
        id="review_tag_#_name">`.replaceAll('#', num);
    document.getElementById("tags").innerHTML += content;
    btn.value = (num + 1).toString();
  }
  // #TODO get this in the assest pipeline
</script>

<div class="row">
  <div id="rev-form" class="col-md-6 col-md-offset-3">
    <%= form_with(model: @review, local: true) do |f| %>
      <%= f.label :media %>
      <%= f.text_field :media %>

      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.label :recommended %>
      <%= f.check_box :recommended %>

      <div id="tags">
        <%= f.label :tag_category %>
        <%= f.text_field :tag_1_category %>

        <%= f.label :tag_name %>
        <%= f.text_field :tag_1_name %>
      </div>
      <%= f.label :image %>
      <%= f.file_field :cover%>

      <%= f.submit "Publish Review", class: "btn btn-primary" %>
    <% end %>

    <br>
    <button id="tag-btn" class="btn btn-primary" value="2" onclick="addTag();">Add Tag</button>

  </div>
</div>